
/* src/components/Login.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 15px;
  }
  
  .forgot-password a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #1cb0c4;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .login-btn:hover {
    background-color: #1cb0c4;
  }
  
  .or-separator {
    text-align: center;
    margin: 20px 0;
    color: #777;
  }
  
 
  .google-btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #757575;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-btn:hover {
    background-color: #f0f0f0;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link p {
    font-size: 14px;
    color: #333;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  /* Responsividad */
  @media (max-width: 600px) {
    .login-form {
      padding: 15px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
  
    .login-form h2 {
      font-size: 20px;
    }
  
    .form-group input {
      font-size: 14px;
    }
  
    .login-btn, .google-btn {
      font-size: 14px;
      padding: 8px;
    }
  
    .google-logo {
      width: 18px;
      height: 18px;
    }
  }
  